{% extends "myapp/layouts.html" %}

{% block title %}Log-out | TODO APP{% endblock %}

{% block contents %}

<div class="card shadow-lg border-0 rounded-4 mt-5 mx-auto p-4" style="max-width: 500px;">
        <h1>Log Out</h1>
        <p>Are you sure you want to log out?</p>
        <form action="{% url 'logout_view' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}

            <div class="text-center">
                <button type="submit" class="btn btn-danger btn-lg">Log Out</button>
                <a href="{% url 'home' %}" class="btn btn-secondary btn-lg">Cancel</a>
            </div>
        </form>
</div>
{% endblock %}

